.button {
    padding: 10px;

    color: white;
    font-size: 32px;
    font-weight: 600;

    border: none;
    border-radius: 12px;

    box-shadow: 0 4px 8px rgba(0, 100, 0, 0.5); 

    min-width: 220px;

    cursor: pointer;

    transition: background-color 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease, transform 0.3s ease;
}

.button:hover {
  filter: brightness(0.8); 

  box-shadow: 0 6px 12px rgba(0, 60, 0, 0.7);

  transform: scale(1.05); 
}

.button:active {
  filter: brightness(0.7); 

  box-shadow: 0 3px 6px rgba(0, 40, 0, 0.5);
  
  transform: scale(0.98);
}